
* {
    margin : 0px;
    padding: 0px;;
}
header {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.bg {
    
        background-image: url("https://wallpaper.dog/large/10818932.jpg");
        background-color: #cccccc;
        height: 826px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      
}
.bg-text {

    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.hero-text h1{
    margin: 0px ;
}


main {

    font-size: 50px;

}

main {

    background-color: black;
    color :blueviolet;
}

#m{
    text-align: center;
    margin: 349px;
    padding: 40px;
}




