
    



*  {
    margin :0px;
    padding: 0px;
}


header nav ul li{
    text-align: left;
    display: inline-block;
    margin-left: 40px;
    font-size: large;
    padding-top: 30px;
  
  }
  header h1 {
    color: #845460;
    padding-left: 72px;
    margin-top: 0px;
  }
  
.img-back img {
    width: 100%;
    height: 536px;

}

main p {

font-size: 20px;
}
  
footer{
    margin-top:100px;
    
}

#p1{
background-color: blueviolet;
}

#p2{
background-color: chocolate;
}

#p3{
  background-color: darkgray;
}

#p4{
background-color: darkmagenta;

}